.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

h1 {
  font-family: serif;
  color: #992222;
  line-height: 1.5;
  font-size: 3em;
  font-weight: bold;
  padding-left: 10px;
}

h1 a {
  text-decoration: none;
  color: #992222;
}

nav {
  background-color: #332222;
  padding-top: 5px;
  padding-bottom: 4px;
}

nav a {
	background-color: #332222;
	color: white;
	line-height: 1.5;
	text-align: center;
	font-size: 2em;
  text-decoration: none;
  padding: 10px;
  margin: 0;
  border: 0;
}

nav a:hover {
  background-color: #992222;
}

main {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
	color: #992222;
	margin-top: 40px;
  font-size: 2em;
}

h3 {
	color: #553333;
	margin-top: 35px;
  font-size: 1.5em;
}

main img {
  width: 960px;
  margin-left: -10px;
}

p {
  color: #553333;
	font-size: 1.35em;
	line-height: 1.5;
	margin-bottom: 10px;
}

a {
  color: #992222;
}
