$primary-color:     #F86925;
$primary-shading:   #E75814;
$secondary-color:   #1E8BC4;
$secondary-shading: #0D7AB3;
$dark-gray:         rgba(50, 50, 50, 0.75);
$heading-font:      "futura-pt-bold";
$body-font:         "futura-pt";
$body-font-weight:  200;
$inverse-text:      #FFFFFF;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #202025;
  font-family: $body-font;
  font-weight: $body-font-weight;
  background-image: url('../img/sal_bw.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

html, body, .page {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: row;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  background-color: $primary-color;
  border-right: 1px solid $primary-shading;
  border-left: 1px solid $primary-shading;
  border-bottom: 1px solid $primary-shading;
  padding: 20px;
  text-align: center;
  color: white;

  h1 {
    margin: 0px;
    font-size: 4em;
  }
}

nav {
  background-color: $primary-color;
  display: flex;
  text-align: center;

  a {
    flex-grow: 1;
    text-decoration: none;
    font-size: 2em;
    color: white;

    .links {
      padding: 20px;
      border-top: 1px solid $primary-shading;
      border-right: 1px solid $primary-shading;
      border-left: 1px solid $primary-shading;

      &:hover, &.active {
        background-color: $secondary-color;
        border-top: 1px solid $secondary-shading;
        border-right: 1px solid $secondary-shading;
        border-left: 1px solid $secondary-shading;
      }
    }
  }
}

main {
  background-color: $dark-gray;
  padding: 20px;
  color: white;
  flex-grow: 1;

  section {
    display: none;
  }
}

.home h2 {
  font-size: 3.5em;
}
