/** {border: 1px black solid;}*/



/*layout*/
body{
	font-family: sans-serif;
	margin:0px;
}

header {
	/*background-image: url(../img/background.jpg);*/
	background-color: #272822;
	margin: 0px;
	padding: 40px 0px 0px 0px;
}

.content{
	max-width: 720px;
	margin: 0px auto;
}

#logo {
	display: block;
	margin: 40px auto;
	border-radius: 18px;
}



/*headers*/
h1 {
	text-align: center;
	font-size: 72px;
	/*text-transform: uppercase;*/
	color: white;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

h2 {
	color: #990000;
}



/*navigation*/
nav {
	margin: 0 auto;
	text-align: center;
}

nav ul {
	margin: 0px 0px;
	padding: 10px 0px;
	background: #990000;
	display: block;
}

nav ul li{
	display: inline;
	padding: 10px;
	margin: 0px;
	background: #990000;
}

nav ul li:hover{
	background-color: #272822;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

nav ul li a:hover{
	color: white;
}



/*content*/
p {
	color: #272822;
}

a {
	color: #990000;
	text-decoration: none;
}

a:hover {
	color: #272822;
}

