/*BASE*/



/*LAYOUT*/
.padswrapper {
	width: 640px;
	margin: 0 auto;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}



/*MODULE*/
#bpmSlider {
	float: left;
	width: 458px;
	margin: 32px 0 0 10px;
}

#bpmSlider .ui-slider-range{
	background: #CC0000;
}

#start, #stop, .pad, .padBlink, .kick, .kickBlink, .snare, .snareBlink, .hatClosed, .hatClosedBlink, .hatOpen, .hatOpenBlink, .sounds {
	height: 60px;
	width: 60px;
	float: left;
	border-radius: 10px;
	margin: 10px;
}

#start {
	background-color: #006600;
}

#stop {
	background-color: #CC0000;
}

.pad {
	background-color: #A4A6A5;
}

.pad.blink {
	background-color: #CFD2D1;
}

.kick, #kick {
	background-color: purple;
}

.kick.blink {
	background-color: #E1AADD;
}

.snare, #snare {
	background-color: orange;
}

.snare.blink {
	background-color: #FFC58B;	
}

.hatClosed, #hatClosed {
	background-color: teal;
}

.hatClosed.blink {
	background-color: #8FEEEE;	
}

.hatOpen, #hatOpen {
	background-color: navy;
}

.hatOpen.blink {
	background-color: #B9C0F2;	
}

/*STATE*/