body {
  background-color: #006699;
}

header {
  width: 900px;
  text-align: center;
  margin: 0 auto;
  padding-top: 120px;
}

h1 {
  font-family: "futura-pt", sans-serif;
  font-size: 144px;
  margin: 0;
  line-height: 1em;
  color: #FFFFFF;
/*  text-align: center;*/
}

h2 {
  font-family: "futura-pt", sans-serif;
  font-size: 56px;
  padding: 0;
  margin: 0;
  line-height: 1em;
  color: #FFFFFF;
}

main {
  width: 500px;
  display: block;
  margin: 0 auto;
}

nav {
  width: 900px;
  display: block;
  margin: 0 auto;
  padding-top: 60px;
}

nav h2 {
  width: 300px;
  float: left;
  text-align: center;
  /*padding: 20px;*/
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
}

.box {
  background-color: #000066;
  height: 280px;
  width: 700px;
  position: absolute;
  left: 50%;
  margin-left: -350px;
  top: 90px;
  opacity: 0.6;
  z-index: -1;
}
