body {
	background-color: skyblue;
	text-align: center;
	color: white;
}

h1 {
	font-size: 36px;
	font-family: 'Bad Script', cursive;
	position: fixed;
	top: 48px;
	left: 48px;
	z-index: 1;
	font-weight: bold;
}

#ground {
	background-color: green;
	height: 480px;
	width: 100%;
	position: fixed;
	bottom: 0;
}

#ground * {
	position: absolute;
}

#tree {
	top: -220px;
	left: 800px;
}

#cow0 {
	top: 50px;
	left: 180px;
}

#cow1 {
	top: -22px;
	left: 480px;
}

#cow2 {
	top: 100px;
	left: 20px;
}

#cow3 {
	top: 180px;
	left: 360px;
}

#guy {
	top: 240px;
	left: 1000px;
}

#chicken0 {
	top: 300px;
	left: 800px;
}

#chicken1 {
	top: 260px;
	left: 600px;
}

#chicken2 {
	top: 200px;
	left: 900px;
}

#chicken3 {
	top: 160px;
	left: 700px;
}