* {
	border: 1px solid black;
}

body {
	font-family: sans-serif;
}

header {
	height: 60px;
	background-color: black;
}

h1 {
	font-size: 24px;
	text-align: center;
	color: white;
	padding: 20px;
}

a {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: white;
	background-color: orange;
	height: 12px;
	padding: 8px;
/*	border-radius: 10px;*/
}

p {
	line-height: 1.5;
	padding-top: 12px;
}

.left {
	float: left;
	padding: 20px;
}

.right {
	float: right;
	padding: 20px;
}

.wrapper {
	width: 720px;
	margin: 0 auto;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.center {
	text-align: center;
}

table {
	margin: 0 auto;
}

th {
	text-align: center;
	width: 60px;
	padding-bottom: 12px;
}

td div{
	margin: 0 auto;
	text-align: center;
}

#redSlider .ui-slider-range{
	background: #FF0000;
}

#greenSlider .ui-slider-range{
	background: #00FF00;
}

#blueSlider .ui-slider-range{
	background: #0000FF;
}