/** {
	border: solid 1px black;
}
*/


/*basics*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.wrapperOuter {
	width: 1080px;
	margin: 0 auto;
	padding: 0;
	background-color: #CEE5F2;
}

.wrapperInner {
	width: 720px;
	float: left;

/*	background-color: pink;*/
}

.column {
	width: 350px;
	float: left;
	padding: 10px 10px 10px 0;
}


h1 {
	font-family: 'Righteous', cursive;
	font-size: 36px;
	margin-top: 10px;
	padding-left: 10px;
	color: white;
}


h2 {
	font-family: 'Righteous', cursive;
	font-size: 24px;
	margin-top: 10px;
	color: #73628A;
}

/*layout*/
body {
	background-color: #37123C;
	color: #333355;
}

.left, .right {
	width: 165px;
	float: left;
}

header {
	background-color: #73628A;
	height: 60px;
}

	#logo {
		float: left;
	}
	nav {
		float: right;
	}

main {
	padding-top: 10px;
	padding-bottom: 24px;
	background-color: white;
	padding-left: 10px;
}

aside {
	padding: 10px 0 24px 0;
	margin: 0;
}

footer {
	background-color: #437C90;
	height: 120px;
	padding-top: 24px;
}

.footCenter {
	width: 720px;
	margin: 0 auto;
	background: #437C90;
}



nav {
	margin-right: 10px;
}


.left {
	padding-left: 10px;
}

.right {
	padding-right: 10px;
	text-align: center;
}

/*images*/
.pictures {
	padding: 0;
}

#main{
/*	display: block;*/
	height: 470px;
	width: 470px;
/*	margin-right: 10px;*/
	margin-left: 0;
	float: left;
	padding: 0;
}

img {
	width: 110;
	margin-left: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	padding: 0;
	float: left;
}

.otherProfiles {
	display: block;
	margin: 0 auto 10px auto;
	float: none;
}