/** {
	border: solid 1px black;
}
*/


/*basics*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

body {
	background-color: #37123C;
	color: #333355;
	font-family: sans-serif;
}

img {
	width: 110;
	margin-left: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	padding: 0;
	float: left;
}


/*headers*/
h1 {
	font-family: 'Righteous', cursive;
	font-size: 36px;
	margin-top: 10px;
	padding-left: 10px;
	color: white;
}


h2 {
	font-family: 'Righteous', cursive;
	font-size: 24px;
	margin-top: 10px;
	color: #73628A;
}

h3 {
	font-weight: bold;
	color: #3E7C8E;
	margin-bottom: 2px;
}





/*layout*/
.wrapperOuter {
	width: 1080px;
	margin: 0 auto;
	padding: 0;
	background-color: #CEE5F2;
}

.wrapperInner {
	width: 720px;
	float: left;
}


/*header*/
header {
	background-color: #73628A;
	height: 60px;
}

#logo {
	float: left;
}




/*sidebars*/
.left, .right {
	width: 165px;
	float: left;
}

aside.left {
background-color: #3E7C8E;
}

.left p {
	visibility: hidden;
}

.right {
	padding-right: 10px;
	text-align: center;
	color: white;
}

.right span {
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
}

.right p {
	color: white;
	font-family: 'Righteous', cursive;

}

.right .bottom {
margin-top: 36px;
	margin-left: 20px;
}

aside {
	padding: 10px 0 24px 0;
	margin: 0;
}

nav {
	float: left;
/*	margin-right: 10px;*/
	margin-left: 0;
	width: 100%;
}

nav a {
	text-decoration: none;
	display: block;
	font-family: sans-serif;
/*	margin-top: 2px;*/
	padding: 4px 0 2px 10px;
	background: #3E7C8E;
	color: white;
	width: 100%;
}

.otherProfiles {
	display: block;
	margin: 0 auto 10px auto;
	float: none;
}

.imgWrap {
	height: 110px;
	width: 110px;
	position: relative;
	margin: 0 auto 10px auto;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  font-size: 36px;


  visibility: hidden;
  opacity: 0;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

/*main*/
main {
	padding-top: 10px;
	padding-bottom: 24px;
	background-color: white;
	padding-left: 10px;
}

.column {
	width: 350px;
	float: left;
	padding: 10px 10px 10px 0;
}

.pictures {
	padding: 0;
}

#main{
	height: 470px;
	width: 470px;
	margin-left: 0;
	float: left;
	padding: 0;
}

table {
	width: 100%;
}


/*foot*/
footer {
	background-color: #437C90;
	height: 24px;
	padding-top: 24px;
	font-size: 10px;
}

.footCenter {
	width: 720px;
	margin: 0 auto;
	background: #437C90;
}