/** {border: black 1px solid;}*/



/*layout*/
body {
    margin: 0 auto;
    padding: 54px 0 0 0;
    width: 1080px;
    /*border-left: solid 6px #dddddd;*/
}

header {
    padding: 0;
}

#content {
    width: 720px;
    float: left;
}

article {
    padding-bottom: 56px;
    border-bottom: 1px #cccccc solid;
}

#sidebar {
    width: 320px;
    float: right;
    margin: 54px 0;
    color: #888888;
}

.ad{
    padding: 28px 0 28px 0;
    border-bottom: 1px #cccccc solid;
    border-top:  1px #cccccc solid;
    margin: 72px 0 28px 0;
}

footer {
    padding: 30px 0 0 0;
    clear: both;
}



/*headers*/
h1, h2, h3, p, a, li {
    font-family: "Lato";
    font-weight: 100;
}

h1, h2, h3{
    color: #444444;
    margin: 0;
}

h1 {
    line-height: 1.5;
    font-size: 55px;
    color: #e40f16;
    margin: 0;
    display: inline;
}

h2 {
    color: #888888;
    font-size: 28px;
    display: inline;
    margin-left: 10px;
}

h3 {
    font-size: 36px;
    line-height: 1.5;
}

.date {
    color: #cccccc;
    margin: 54px 0 0 0;
}

.title {
    color: black;
}

h4 {
    font-family: "Lato";
    font-size: 18px;
    line-height: 1.5;
}



/*nav*/
header ul {
    padding: 0;
    margin: 0px auto;
}

header ul li{
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    background-color: #000000;
    width: 179px;
    border-right: 1px solid white;
    padding: 16px 0 16px 0;
    float: left;

}

header ul li:hover {    
    background-color: #e40f16;
}

header ul li a {
    color: #ffffff;
    line-height:1.5;
    text-decoration: none;
}



/*images*/
#content img {
    width: 720px;
}

#sidebar img{
    display: block;
    margin: 0 auto;
}



/*text and links*/
p {
    font-size: 18px;
    line-height: 1.5;
}

.dropcap {
    font-size: 104px;
    color: #dddddd;
    float: left;
    margin: 0;
    padding: 0;
    line-height: 66px;
    font-weight: 100;
}

p a {
    color: #DD0000;
}

p a:hover {
    color: #AA0000;
}

#sidebar ul a {
    color: #DD0000;
    font-size: 18px;
    line-height: 1.5;
    text-decoration: none;
}

#sidebar ul a:hover {
    color: #AA0000;
}

.continue a {
    float: right;
    font-weight: 700;
    text-decoration: none;
}

#copyright{
    color: #bbbbbb;
}