<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="wrapper">
      {% if page.image %}<img src="{{ site.url }}/image/{{ page.image }}">{% endif %}
      <h2>{{ page.title }}</h2>

      <ul>
        {% for post in site.posts %}
          <li><img src="{{ site.url }}/image/{{ post.small-image }}"><h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p>{{ post.description}}</p></li>
        {% endfor %}
      </ul>

    </main>
  </body>
</html>
