/** {
	border: black solid 1px;
}*/

.pads, #start, #stop {
	height: 60px;
	width: 60px;
	float: left;
	border-radius: 10px;
	margin: 10px;
}

.pads {
	background-color: #A4A6A5;

}

#start {
	background-color: #006600;
}

#stop {
	background-color: #CC0000;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}